.content {
    padding: 1em;
    height: 25em;
}
  .productImage {
      width: 100px;
      height: 150px;
  }

  .column {
    float: left;
    width: 30%;
    padding: 10px 10px 10px;
  }
  .overflow {
      width: 100%;
      text-align: center;
  }
.card-footer {
    text-align: center;
}

